
{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Ajouter un dessin{% endblock %}
{% block topbar_page_title %}Ajouter un dessin{% endblock %}

{% block dessinMenu %}class="active"{% endblock %}

{% block page_content %}
<div class="container">
    <div>
        <a class="button" href="/redaction/dessins"><i style="margin-right: 3px; position: relative; top: 1px" class="far fa-chevron-circle-left"></i> Dessins</a>
    </div>
    <h3 class="text-center">Nouveau dessin</h3>
    {% if error %}
    <div class="alert alert-danger">
        <p>Une erreur est survenue lors de l'ajout de la réalisation... Veuillez réessayer.</p>
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <div class="container-fluid row">
            <div class="col-sm-6">
                <label for="dessin-nom">Nom</label>
                <input class="fwidth" type="text" id="dessin-nom" name="nom" value="{{ dessin.nom }}">
            </div>
            <div class="col-sm-6">
                <label for="dessin-artiste">Artiste</label>
                <input class="fwidth" type="text" id="dessin-artiste" name="artiste" value="{{ dessin.artiste }}">
            </div>
            <div class="col-sm-6">
                <label for="dessin-description">Description</label>
                <textarea class="fwidth" id="dessin-description" name="description">{{ dessin.description }}</textarea>
            </div>
            <div class="col-sm-6">
                <label for="dessin-file">Fichier</label>
                <input class="fwidth" type="file" id="dessin-file" name="file">
            </div>
            <div class="col-sm-6">
                <label for="dessin-publique">Publique <input type="checkbox" id="dessin-publique" name="publique" value="1" {% if dessin.publique %}checked{% endif %}></label>
            </div>
        </div>

        <div class="text-center">
            <a class="button" href="/redaction/dessins">Annuler</a>
            <input type="submit" class="button" value="Envoyer">
        </div>
    </form>
</div>
{% endblock %}