body {
    background-color: #F9F9F9;
    margin: auto;
}
.container {
    max-width: 1000px;
    margin: auto;
}

.index-header {
    padding: 10px 10px;
}
.index-header .logo {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    margin-bottom: 0;
}
.index-header .logo a {
    color: initial;
    text-decoration: none;
}
.index-header .navpipe {
    font-size: 1.5em;
    vertical-align: text-bottom;
}
.index-header nav {
    display: inline-block;
}
.index-header nav a {
    color: initial;
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease 100ms;
}
.index-header nav a:hover {
    color: initial;
    text-decoration: underline;
}
.index-header nav a:not(:first-child) {
    margin-left: 15px;
}
.index-header .buttons {
    float: right;
}
.index-header .buttons .button {
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    letter-spacing: .07rem;
    line-height: 33px;
    margin-bottom: 0;
    padding: 0 15px;
    text-align: center;
    text-transform: none;
}
.index-header .buttons .button.social {
    font-size: 1.75em !important;
    line-height: 33px;
    padding: 0 4px;

}
.index-header .buttons span.space {
    display: inline-block;
    width: 15px;
}


.index-showcase {
    background-color: #e8dbae;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px 10px;
    text-align: center;
}

.index-resume {
    margin-top: 25px;
    padding: 10px 10px;
}
.index-resume .white-bloc {
    border-radius: 10px;
    margin: auto;
    max-width: 720px;
}
.index-resume .white-bloc p a {
    margin-top: 15px;
}


.login .white-bloc {
    border-radius: 10px;
    margin: auto;
    max-width: 500px;
    margin-top: 5vh;
}
.login h1 {
    font-size: 2em;
}

.big-menu {
    background-color: #34495e;
    min-height: 150px;
    margin-bottom: 10px;
    padding: 10px 10px;
}


form.suivi p, form.suivi p input {
    margin: 0;
}
form.nouvelle p, form.nouvelle p input {
    margin: 0;
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: 1em;
}


input[type="checkbox"] {
    height: initial;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

.archives-container .edition {
    padding: 1em;
}
.archives-container .edition > a {
    background-color: white;
    color: initial;
    display: block;
    padding: 1em;
    text-decoration: none;
    width: 100%;
}
.archives-container .edition > a img {
    max-width: 100%;
    margin: 10px auto;
}
.archives-container .edition > a h4 {
    margin-bottom: 0;
}
.archives-container .edition > a h5 {
    margin-top: 0;
    margin-bottom: 0;
}


.white-bloc {
    background-color: white;
    padding: 15px;
}
.white-bloc > *:first-child {
    margin-top: 0;
}
.white-bloc > *:last-child {
    margin-bottom: 0;
}
.fwidth {
    width: 100%;
}
