{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="box center">
            <div class="alert alert-warning">
                <h3 class="text-center">
                    <i class="fal fa-lock"></i>
                    Oups... Vous n'avez pas le droit d'accèder à cette ressource
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/fontawesome.min.js"></script>
    <script src="/static/js/all.min.js"></script>
{% endblock %}

