{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Nouvelle édition{% endblock %}
{% block topbar_page_title %}Nouvelle édition{% endblock %}

{% block editionMenu %}class="active"{% endblock %}

{% block page_content %}
    <div class="container">
        <h3>Ajouter une édition</h3>

        <form method="post">
            <label for="titre">Titre</label>
            <input type="text" class="fwidth" id="titre" name="titre" value="{{ edition.titre }}">
            <label for="description">Description</label>
            <textarea class="fwidth" id="description" name="description">{{ edition.description }}</textarea>
            <div class="row container-fluid">
                <div class="col-6">
                    <label for="annee">Année</label>
                    <input type="number" class="fwidth" id="annee" name="annee" value="{{ edition.annee }}" placeholder="XXXX">
                </div>
                <div class="col-6">
                    <label for="mois">Mois</label>
                    <input type="number" class="fwidth" id="mois" name="mois" value="{{ edition.mois }}" placeholder="XX">
                </div>
            </div>
            <label for="publique">Publique <input type="checkbox" id="publique" name="publique" {% if edition.publique %}checked{% endif %} value="1"></label>

            <div class="text-center">
                <a href="/redaction/editions" class="button">Annuler</a>
                <input type="submit" class="button" value="Ajouter">
            </div>
        </form>
    </div>
{% endblock %}