{% extends 'redaction/layout.html.twig' %}

{% block page_title %}Edition : {{ edition.annee }}-{{ "%02d"|format(edition.mois) }}{% endblock %}
{% block topbar_page_title %}Edition : {{ edition.annee }}-{{ "%02d"|format(edition.mois) }}{% endblock %}

{% block editionMenu %}class="active"{% endblock %}

{% block page_content %}
    <div class="container">

        <a href="/redaction/editions" class="button"><i class="far fa-chevron-circle-left" style="margin-right: 3px; position: relative; top: 1px"></i> Editions</a>

        <h3 class="text-center">Modifier une édition</h3>

        <form method="post">
            <label for="titre">Titre</label>
            <input type="text" class="fwidth" id="titre" name="titre" value="{{ edition.titre }}">
            <label for="description">Description</label>
            <textarea class="fwidth" id="description" name="description">{{ edition.description }}</textarea>
            <div class="row container-fluid">
                <div class="col-6">
                    <label for="annee">Année</label>
                    <input type="number" class="fwidth" id="annee" name="annee" value="{{ edition.annee }}" placeholder="XXXX">
                </div>
                <div class="col-6">
                    <label for="mois">Mois</label>
                    <input type="number" class="fwidth" id="mois" name="mois" value="{{ edition.mois }}" placeholder="XX">
                </div>
            </div>
            <label for="publique">Publique <input type="checkbox" id="publique" name="publique" {% if edition.publique %}checked{% endif %} value="1"></label>

            <div class="text-center">
                <input type="submit" class="button" value="Enregistrer les changements">
            </div>
        </form>

        <h4>Couverture</h4>
        {% if edition.couverture %}
            <div id="couverture-text">
                <div class="text-center">
                    <img style="max-width: 100%; max-height: 350px; display: block; margin:10px auto;" src="/redaction/editions/{{ edition.id }}/couverture">
                    <a id="couverture-edit" class="button" href="#"><i class="far fa-file-edit"></i> Modifier</a>
                </div>
            </div>
        {% endif %}
        <form id="couverture-form" {% if edition.couverture %}style="display: none"{% endif %} action="/redaction/editions/{{ edition.id }}/couverture" method="post" enctype="multipart/form-data">
            <label for="couverture">La couverture (fichier PNG)</label>
            <input type="file" class="fwidth" id="couverture" name="couverture">
            <div class="text-center">
                <a id="couverture-cancel" href="#" class="button">Annuler</a>
                <input type="submit" class="button" value="Envoyer">
            </div>
            <a></a>
        </form>

        <h4>Fichier PDF</h4>
        {% if edition.pdf %}
            <div id="pdf-text">
                <div class="text-center">
                    <embed style="max-width: 100%; max-height: 350px; display: block; margin:10px auto;" src="/redaction/editions/{{ edition.id }}/pdf" width="248" height="350" type='application/pdf'>
                    <a id="pdf-edit" class="button" href="#"><i class="far fa-file-edit"></i> Modifier</a>
                </div>
            </div>
        {% endif %}
        <form id="pdf-form" {% if edition.pdf %}style="display: none"{% endif %} action="/redaction/editions/{{ edition.id }}/pdf" method="post" enctype="multipart/form-data">
            <label for="pdf">La pdf (fichier PDF)</label>
            <input type="file" class="fwidth" id="pdf" name="pdf">
            <div class="text-center">
                <a id="pdf-cancel" href="#" class="button">Annuler</a>
                <input type="submit" class="button" value="Envoyer">
            </div>
            <a></a>
        </form>

    </div>
{% endblock %}

{% block js %}

    {% if edition.couverture %}
    <script>
        $('#couverture-edit').on('click', function(e) {
            e.preventDefault();
            $('#couverture-text').hide();
            $('#couverture-form').show();
        });
        $('#couverture-cancel').on('click', function(e) {
            e.preventDefault();
            $('#couverture-form').hide();
            $('#couverture-text').show();
        });
    </script>
    {% endif %}

    {% if edition.pdf %}
        <script>
            $('#pdf-edit').on('click', function(e) {
                e.preventDefault();
                $('#pdf-text').hide();
                $('#pdf-form').show();
            });
            $('#pdf-cancel').on('click', function(e) {
                e.preventDefault();
                $('#pdf-form').hide();
                $('#pdf-text').show();
            });
        </script>
    {% endif %}

{% endblock %}