{% extends 'layout.html.twig' %}

{% block page_title %}Le F'TI | Dessins{% endblock %}

{% block content %}
    <div class="container">
        <h3>Nos dessins et caricatures</h3>

        <div class="archives-container">
            {% for dessin in dessins %}

                <p class="text-center">
                    <img src="/dessins/{{ dessin.id }}/image" style="max-width: 100%">
                </p>
                <h3 class="text-center">{{ dessin.titre }}</h3>
                <h4 class="text-center">{{ dessin.artiste }}</h4>
                <p class="text-justify">{{ dessin.description }}</p>

                {% if not loop.first %}
                    <hr>
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}