{% extends 'layout.html.twig' %}

{% block page_title %}Le F'TI{% endblock %}

{% block content %}
    <div class="container">
        {% if edition %}
            <h3 class="text-center">Dernier numéro !</h3>
            <a href="/lire/{{ edition.annee }}-{{ edition.mois }}/{{ edition.id }}" target="_blank">
                <img style="display: block; margin: 20px auto; max-width: 100%" src="/couverture/{{ edition.annee }}-{{ edition.mois }}/{{ edition.id }}">
            </a>

            <div class="text-center">
                <a class="button" href="/lire/{{ edition.annee }}-{{ edition.mois }}/{{ edition.id }}">Lire !</a>
            </div>
        {% endif %}
    </div>

{% endblock %}