<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <meta charset="utf-8">
    <title>{% block page_title %}[PAGE_TITLE]{% endblock %}</title>

    <!-- Mobile Specific Metas
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Teko:600" rel="stylesheet">

    <!-- CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/aquila.min.css">
    <link rel="stylesheet" href="/static/css/redaction.css">
    {% block css %}{% endblock %}

    <!-- Favicon
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <!--<link rel="icon" type="image/png" href="images/favicon.png">-->

</head>
<body>
<!-- Page Header
––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="layout">

    <div class="sidebar" id="navbar">
        <ul>
            <li id="back-to-fti">
                <a href="/">
                    <i class="far fa-chevron-circle-left"></i> <span class="hphone">Le F'TI</span>
                </a>
            </li>
            <li>
                <a href="/redaction" {% block dashboardMenu %}{% endblock %}>
                    <i class="far fa-tachometer-alt"></i> <span class="hphone"> Tableau de bord</span>
                </a>
            </li>

            <li>
                <a href="/redaction/editions" {% block editionMenu %}{% endblock %}>
                    <i class="far fa-newspaper"></i> <span class="hphone"> Editions</span>
                </a>
            </li>

            <li>
                <a href="/redaction/dessins" {% block dessinMenu %}{% endblock %}>
                    <i class="far fa-book-spells"></i> <span class="hphone"> Dessins</span>
                </a>
            </li>
            {% if connected_user.admin %}
            <li>
                <a href="/redaction/utilisateurs" {% block utilisateursMenu %}{% endblock %}>
                    <i class="far fa-users"></i> <span class="hphone">Utilisateurs</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="topbar">
        <span class="title">{% block topbar_page_title %}{% endblock %}</span>

        <div class="buttons">
            <a class="button button-small" href="/deconnexion">Déconnexion <i class="far fa-sign-out"></i></a>
        </div>
    </div>
    <div class="content">
        {% block page_content %}
        {% endblock %}
    </div>
</div>

<!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
<script src="/static/js/fontawesome.min.js"></script>
<script src="/static/js/all.min.js"></script>
<script src="/static/js/fulgur.min.js"></script>
<script>$ = Fulgur</script>
{% block js %}{% endblock %}
</body>
</html>
